//colors
$blue1: #0000ff;
$blue2: #8181ff;
$blue3: #7575f8;
$blue4: #cecefd;
$blue5: #000069;
$blue6: #7e7eff;
$blue7: #1877f2;
$blue8: #50abf1;
$blue9: #006bcc;
$blue10: #1060c9;
$blue11: #0000ac;

$white1: #fff;
$black1: #000;

$grey1: #cecefd;
$grey2: #a0a0a0;
$grey3: #ececec;
$grey4: #f0f0f0;
$silver: #c0c0c0;

$green1: #008000;

$red1: #ff0000;
$red2: #ea338f;
$red3: #ca3737;
$red4: #763500;

$alpha1: #fff3;
$alpha2: #fff4;
$alpha3: #fffa;
$alpha3: #0008;

$social1: #1877f2;
$social2: #50abf1;
$social3: #ea338f;
$social4: #006bcc;
$social5: #ca3737;
$social6: #ff0000;
$social7: #1060c9;
$social8: #220f00;